// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tags-container {
/*  background-color: pink;*/
  width: 50%;
  margin-left: 25%;
}

.tag-container {
  padding: 5px 15px 5px 15px;
  /*background-color: red;*/
  clear: left;
  display: inline-block;
  width: 14%;
  text-align:center;
}

.tag {
}