
<div>
  <div id="feed-container">
    <% @photos.each do |photo| %>
      <div class="feed-photo-container">
        <%= link_to photo_path(photo) do %>
          <%= image_tag photo.image.medium.url, class: "feed-photo" %>
        <% end %>
      </div>
    <% end %>
  </div>
<div>
