
<div id="main-container" class="container">
  <div class="row">

    <div class="col-xs-1 sidebar">
    </div>

    <div id="content" class="col-xs-10 content">
        <% @photos.each do |photo| %>
              <div class="feed-photo-container">
                <%= link_to photo_path(photo) do %>
                  <%= image_tag photo.image.medium.url, class: "feed-photo" %>
                <% end %>
              </div>
            <% end %>
    </div>

    <div class="col-xs-1 sidebar">
    </div>

  </div>
</div>


<script type="text/javascript">
    $('body').ready(function() { 

        $('img').hide();
        $('img').each(function(i) {
            if (this.complete) {
                $(this).fadeIn(1000);
            } else {
                $(this).load(function() {
                    $(this).fadeIn(1000);
                });
            }
        });
    });
</script>